Repository SHPE-at-UCI/shpe-uci-portal, pull requests merged in 2020-11, with the labels that each got.

#125 added paid_status field to database upon registration
  app/routes/auth.py
Labels: checkout-api

#124 Add checkout route 1.1
  app/__init__.py
  app/static/css/checkout.css
  app/templates/checkout.html
Labels: checkout-api

#126 Admin route
  app/__init__.py
  app/templates/admin.html
  install-windows.bat
Labels: dashboard

#127 Faq init
  app/__init__.py
  app/extensions.py
  app/routes/faq.py
  app/static/css/faq.css
  app/templates/components.html
  app/templates/faq/faq.html
  app/templates/faq/post.html
Labels: faq-page

#136 added search bar to faq page
  app/routes/faq.py
  app/static/css/faq.css
  app/templates/faq/faq.html
Labels: back-end, faq-page, front-end

#139 Dropdown answer on click
  .gitignore
  app/__init__.py
  app/static/css/faq.css
  app/static/js/faq.js
  app/templates/faq/faq.html
Labels: faq-page, front-end

#142 Filter button 1.1
  app/static/css/search.css
  app/templates/search.html
Labels: alum-search

#135 Membership Admin List
  app/__init__.py
  app/routes/auth.py
  app/templates/admin.html
Labels: dashboard
